/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 15, 2025, 5:02:05 PM
    Author     : Huynh Han Dong
*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
}
h2 {
    text-align: center;
    color: #131313;
    margin-top: 10px;
}
button {
    background-color: #f4f4f9;
    padding: 8px 15px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
}
button:hover {
    background-color: #999999
}
.go-back-button {
    margin-bottom: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
    background: #d8d8d8; 
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.info {
    background: #ccc; 
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.input-field {
    width: 300px; 
    height: 16px;
    padding: 10px;
    border: 1.6px solid;
    border-radius: 5px;
    font-size: 16px;
}
textarea {
    resize: vertical;
    font-family: Arial, sans-serif; 
    max-height: 200px;
}
.label-container {
    display: flex;
    align-items: center; 
    gap: 10px;
    margin: 20px 10px;
}
.label-container label {
    font-weight: bold;
    text-align: center; 
}
