/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 15, 2025, 5:02:05 PM
    Author     : Huynh Han Dong
*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #d4f7d4;
}
h2 {
    text-align: center;
    color: #131313;
    margin-top: 10px;
}
button {
    background-color: #ffffff;
    padding: 8px 15px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
}
.go-back-button {
    margin-bottom: 20px;
}
.save-button {
    border: none;
    background-color: green;
    color: white;
}
.container {
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: auto;
    background: #ffffff; 
    border-radius: 10px;
    border: 2px solid #a3d9a5;
    padding: 20px;
}
.info {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 0px 20px;
}
.input-field { 
    height: 16px;
    width: 90%;
    padding: 10px;
    border: 1.6px solid;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}
textarea {
    resize: vertical;
    font-family: Arial, sans-serif; 
    max-height: 200px;
    margin-bottom: 15px;
    width: 90%;
}
