/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 14, 2025, 4:18:18 PM
    Author     : Huynh Han Dong
*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #d4f7d4;
}
h2 {
    text-align: center;
    color: #131313;
    margin: 10px 0px;
}
p {
    padding-left: 10px;
}
button {
    background-color: #f2f2f2;
    padding: 8px 15px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
}
.go-back-button {
    margin-bottom: 20px;
}
.delete-button {
    margin-right: 20px;
}
.edit-button {
    margin-left: 20px;
}
.project-info {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: #f2f2f2; 
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #a3d9a5;
    margin-bottom: 20px;
}
.project-member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #a3d9a5;
    margin-bottom: 10px;
}
.add-member-form {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 30px;
}
.input-field {
    width: 300px; 
    height: 20px;
    padding: 10px;
    margin-right: 5px;
    border: 1.6px solid;
    border-radius: 5px;
    font-size: 16px;
}
.delete-project-container {
    display: flex;
    justify-content: center;
}
.delete-project-button { 
    background-color: #ff0000;
    color: white;
    padding: 15px; 
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer;
    width: 850px;
    margin: auto;
    border: none;
}
.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
}

