body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d4f7d4;
    padding: 20px;
}

.container {
    background: rgba(255, 255, 255, 0.842);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
}

.add-task-button {
    text-align: right;
    margin: 12px;

}

h1 {
    font-size: 24px;
    text-align: center;
    color: #488350e3;
}

.accordion {
    background-color: #b8d1c094;
    border-bottom: 1px solid #139e4d81;
    border-radius: 12px;
    margin-top: 8px;
}

.accordion-label {
    border-radius: 4px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c2e6c7c5;
}
.task-header {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.task-id,
.task-name {
    font-size: 16px;
    font-weight: bold;
    color: #488350e3;
}

.accordion-content {
    display: none;
    padding: 12px 12px;

}

.accordion .accordion-input-checkbox {
    display: none;
}

.accordion-input-checkbox:checked+.accordion-content {
    display: block;
}

button.button-submit {
    padding: 8px 16px;
    margin-top: 4px;
    background-color: #6ab374;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-submit:hover {
    background-color: #37858f;
    cursor: pointer;
}

p {
    margin: 5px 0;
    margin-bottom: 10px;
    font-size: 14px;
}

button {
    padding: 10px 16px;
    background-color: #3da342ea;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #368d3aea;
    box-shadow: #ffffff;
    cursor: pointer;
}

.button-header {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.button-form {
    display: inline-block;
    margin: 0;
}

.button-header button {
    display: flex;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.btn-edit {
    padding: 8px 20px !important;
    background-color: #3da342ea;
    color: rgb(253, 253, 253);
}

.btn-edit:hover {
    background-color: #54729eea;
}

.btn-delete {
    padding: 8px 20px !important;
    background-color: #3da342ea;
    color: white;
}

.btn-delete:hover {
    background-color: #b84b4b;
}

.add-button {
    color: #ffffff;
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid #408a5fc0;
    background-color: #3da342ea;
}

.add-button:hover {
    background-color: #368d3aea;
}

.go-back-button {
    background-color: #ffffff00;
    color: #5ea55e;
    border: 1px solid #65b365;
    transition: background-color 0.3 ease, transform 0.2s ease;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bold;
}

.go-back-button:hover {
    background-color: #478f50;
    color: #ffffff;
}

search-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.search-container input {
    width: 80%;
    padding: 10px;
    border: 1px solid #4ab34a;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    
}

.sort-container {
    margin-top: 15px;
    display: block;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.sort-container select {
    padding: 8px;
    border: 1px solid #4ab34a;
    border-radius: 5px;
    font-size: 14px;
}
