body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d4f7d4;
    padding: 20px;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #a3d9a5;
    max-width: 600px;
    margin: auto;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #488350e3;
}

.accordion {
    background-color: #b8d1c094;
    border-bottom: 1px solid #139e4d81;
    border-radius: 12px;
    margin-top: 8px;
}

.task-header {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.accordion-label {
    border-radius: 4px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3da342ea;
}

.task-id,
.task-name {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.accordion-content {
    display: none;
    padding: 12px 12px;
}

.accordion .accordion-input-checkbox {
    display: none;
}

.accordion-input-checkbox:checked+.accordion-content {
    display: block;
}

.link-submission {
    display: flex;
    align-items: center;
    gap: 10px;
    display: block;
}

input[type="url"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #4ab34a;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

button.button-submit {
    padding: 8px 16px;
    margin-top: 4px;
    background-color: #6ab374;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-submit:hover {
    background-color: #37858f;
    cursor: pointer;
}


p {
    margin: 5px 0;
    margin-bottom: 10px;
    font-size: 14px;
}

button {
    padding: 10px 16px;
    background-color: #3da342ea;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #6ab374;
    box-shadow: #ffffff;
    cursor: pointer;
}

.go-back-button {
    background-color:#ffffff;
    padding: 8px 15px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer;
    color: black;
    border: 2px solid black;
}

search-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.search-container input {
    width: 80%;
    padding: 10px;
    border: 1px solid #4ab34a;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    
}

.sort-container {
    margin-top: 15px;
    display: block;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.sort-container select {
    padding: 8px;
    border: 1px solid #4ab34a;
    border-radius: 5px;
    font-size: 14px;
}
